.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 0;
    margin: 0;
}
.grid-item {
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    position: relative;

    padding: 20px;
    font-size: 30px;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
img {
    width: 100%;
}

.GraphSidecar::after {
    content: '';
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 32px;
    position: absolute;
    width: 32px;
    right: 5px;
    top: 5px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_mediatypes_65c15d7731ea.png/65c15d7731ea.png);
}

.GraphVideo::after {
    content: '';
    background-repeat: no-repeat;
    background-position: 0 -34px;
    height: 32px;
    position: absolute;
    width: 32px;
    right: 5px;
    top: 5px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_mediatypes_65c15d7731ea.png/65c15d7731ea.png);
}


span {
	position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    padding: 5px 10px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border-bottom-right-radius: 10px;
}

h1 {
    font-family: 'Montserrat';
}